.app-container{
  text-align: center;
  padding:32px;
}
.card-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}
.card:hover .card-button {
  border: 1px solid #ededed;
}
.card-image {
  width:100%;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: left;
}

.card-button {
  background-color: #647d84;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
}
